.page-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid $black-light;
    backdrop-filter: blur(20px);
}
