@import "./_colors";

.custom-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.custom-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
  
}

.custom-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: $primaryNormal;
    
}
.custom-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    & > :first-child {
        margin-bottom: 30px; 
    }
}
.custom-button {
    display: flex !important;
    align-items: center ;
    justify-content: center ;
    background-color: $primaryNormal !important;
    margin: auto !important;
    width: 60% ;
    margin-top: 30px !important;
    font-family: "Poppins", sans-serif !important; 

}
.custom-button:hover{
    animation: scaleButton 0.8s alternate infinite;
}
@keyframes scaleButton{
    from{
        transform: scale(1);

    }
    to{
        transform: scale(1.07);

    }
}